{%extends 'core/base.html'%}
{%load static%}
{%block title%}
Store
{%endblock%}
{%block content%}
    <div class='row'>
        {% for product in products %}
            <div class='col-lg-4'>
                <img class='thumbnail' src='{{product.image.url}}'>
                <div class='box-element product'>
                    <h6><strong>{{product.name}}</strong><h6>
                    <hr>
                    <button data-product={{product.id}} data-action='add' class='btn btn-outline-secondary add-btn update-cart'>Add to Cart</button>
                    <a class='btn btn-outline-success' data-set="{{product.id}}" id='view' href='#'>View</a>
                    <h4 ><strong>${{product.price|floatformat:2}}</strong><h4>
                </div>
            </div>
        {% endfor %}   
    </div>    
    <div class='modal1'>
        <div class='showDetailContainer'>
            <button class='modal_closed' id='modalClosed'>X</button>
            <img src='' class='' alt='logo'>   
        </div>
    </div>
    <script type="text/javascript">
        const modal=document.querySelector('.modal1')
        const closeModal=document.querySelector('.modal_closed')
        const view=document.getElementById('view')
        console.log(closeModal)
        view.addEventListener('click',showProductDetail);
        closeModal.addEventListener('click',closeModalf);

        function closeModalf(){
            console.log('harsh')
            modal.classList.add('hidden')
        }

        function showProductDetail(e){
            console.log(e.target.dataset.set)
        }
    </script>
{%endblock content%}

